.header{
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eye{
    width: 6em;
    height: 3em;
    position: relative;
    border-radius: 50px;
    background-image: url('../../imgs/eye.png');
    background-position: right 67% bottom 45%;
    background-repeat: no-repeat;
    background-size: 256px 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child){
        transform: scale(-1, 1)
    }
}

.pupil{
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50px;
    background-image: url('../../imgs/zrachok.png');
    background-repeat: no-repeat;
    background-size: 136px 86px;
    background-position: right 70% bottom 61%;
}